:root {
  --color-right-black: #000;
  --color-right-white: #fff;
  --color-black: #111111;
  --color-grey: #11111130;
  --color-grey-m: #FAFAFA;
  --color-grey-light: #E1E1E1; // F1F1F1 in Figma
  --color-primary: #01A7FD;
}